.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* logout at bottom */
  width: 220px;
  height: 100vh;
  background-color: #1f2937;
  color: #fff;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Title */
.sidebar-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  gap: 10px;
}

.title-icon {
  font-size: 1.8rem;
  color: #fbbf24;
}

/* Search bar */
.sidebar-search {
  display: flex;
  align-items: center;
  background-color: #404349;
  padding: 5px 10px;
  border-radius: 6px;
  margin-bottom: 1.5rem;
}

.sidebar-search input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  padding: 5px;
}

.search-icon {
  margin-right: 8px;
  color: #9ca3af;
}

/* Navigation links */
.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar-link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 5px;
  color: white;
  text-decoration: none;
  margin-bottom: 5px;
  border-radius: 4px;
  transition: background 0.2s;

  /* Keep text on single line */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  /* Make text bold */
  font-weight: bold;
}


/* Active link shows blue */
.sidebar-link.active {
  background-color: #3b82f6; /* blue background */
  color: #fff;
}

.sidebar-link:hover {
  background-color: #1263e6;
}

.sidebar-icon {
  font-size: 1.2rem;
  vertical-align: middle;
}

/* Logout button */
.sidebar-logout {
  text-align: center;
}

.logout-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #dc2626;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  justify-content: center;
  font-size: 1rem;
  transition: background 0.3s;
}

.logout-btn:hover {
  background-color: #b91c1c;
}

